



.conti{
  display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
   
    
} 

.conti button{
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 150px;
  font-size: 1rem;
  font-weight: bold;

}

.conti button:hover{
  border: 2px solid brown;
  background-color: #ccc;
  color: brown;
}

button:hover{
  border: 3px solid crimson;
    box-shadow: 0 0 10px  crimson;
}

.button{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
 

}

.button select{
   margin-left: 5px;
   width: 120px;
   padding: 3px;
   border-radius: 10px;
   font-weight: bold;
   
}
.button select:hover{
  border: 3px solid brown;
    box-shadow: 0 0 10px  brown;
    color: brown;
}

.button label{
  color: white;
  font-size: 20px;
  
}


.countriesContainer{
  background: transparent;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 
 gap: 20px; 
 padding: 10px 10px 10px 10px;
 width: 90%;
 border: 4px solid lightgray;
 align-content: flex-start;
 background-size: 20%;
 margin-left: 5%;
 border-radius: 10px;
 
} 
.countriesContainer:hover {
 
  border: 3px solid brown;
  box-shadow: 0 0 10px  brown;
}

.container{
  margin: 0 auto;
  padding: 0;
 background-image: url("https://res.cloudinary.com/dwyfwbq1s/image/upload/v1679094036/PI/WhatsApp_Image_2022-11-06_at_13.59.18_tmtldz.jpg");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 min-height: 620px;
}

