.search{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

.input{
    width: 250px;
    font-size: 25px;
    margin-right: 10px;
    margin-top: 10px;
    outline: none;
    border: 2x solid rgba(64, 50, 187, 0.349);
    border-radius: 10px;
    padding: 5px;
    color: tomato;
}

.btn{
    width: 150px;
    font-size: 1.3rem;
    border-radius: 10px;
    padding: 7px;
    margin-top: 10px;
    border: 2x solid rgba(64, 50, 187, 0.349);
    font-weight: bold;
}

.btn:hover{
    /* background: transparent; */
    border: 3px solid brown;
    box-shadow: 0 0 10px  brown;
    color: brown;
}
